@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    src: url('fonts/static/Inter-Regular.ttf') format('truetype');
    src: url('fonts/static/Inter-Bold.ttf') format('truetype');
    src: url('fonts/static/Inter-ExtraBold.ttf') format('truetype');
}

.mobile-menu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    overflow: auto;
}

.menu-content {
    background-color: white;
    color: hsl(236, 13%, 42%);;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    padding-top: 50%;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content li {
    margin-bottom: 20px;
}

.menu-content a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);;
    font-size: 20px;
}

.menu-content a:hover {
    color: hsl(5, 85%, 63%);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.9%;
    padding-left: 12.3%;
    padding-right: 9%;
} 

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li a:hover {
    color: hsl(5, 85%, 63%);
}

.web-desktop {
    width: 730px;
    padding-left: 18%;
}

.container {
    display: flex;
    align-items: center;
}

.box {
    margin-bottom: 10px;
    margin-top: 1.9%;
}

.text-container {
    background-color: #00001A;
    max-width: 360px;
    padding-left: 8%;
    padding-top: 3%;
    padding-right: 10%;
}

h2 {
    font-family: 'Inter Bold', sans-serif;
    font-size: 38px;
    color: #E9AB53;
}

h3 a {
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h3 a:hover {
    color: #E9AB53;
}

h3:not(:first-of-type) {
    padding-top: 5%; 
}

.text-web, .text-web-2 {
    font-family: 'Inter Regular', sans-serif;
    font-size: 15px;
    color: rgb(197, 198, 206); 
}

.text-web {
    padding-bottom: 10%;
    border-bottom: 1px solid #5D5F79; 
    line-height: 26px;
}

.text-web-2 {
    color: rgb(93, 95, 121);
    max-width: 500px;
    line-height: 24px;
    padding-top: 50px;
}

h1 {
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 56px;
    color: black;
    max-width: 400px;
    font-weight: bold;
}

#read-more {
    font-family: 'Inter Bold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-color: hsl(5, 85%, 63%);
    color:white;
    border: none;
    margin-top: 10%; 
    padding-left: 30px;
    padding-right: 30px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

#read-more:active {
    background-color: #00001A;
}


.container-2 {
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.box-2 {
    padding-right: 20px;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 {
    display: flex;
    align-items: center;
}

.box-3 {
    padding-top: 50px;
    padding-bottom: 40%;
}

.number, .text-2, .notices-links {
    margin-left: 30px;
    margin-right: 30px;
}

.number {
    font-family: 'Inter Bold', sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: rgb(197, 198, 206);
    vertical-align: top; 
    margin-top: 0;
}

.text-2 {
    max-width: 200px;
    font-family: 'Inter Regular', sans-serif;
    font-size: 15px;
    color: rgb(93, 95, 121);
}

.notices-links {
    font-family: 'Inter ExtraBold', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top;
}

.notices-links:hover {
    color: #F15E50;
}

.images-notices {
    width: 100px; 
    height: 128px;
}

.menu-icon {
    display: none; 
    cursor: pointer;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {

    header {
        padding: 5% 5% 5% 5%; 
        justify-content: space-between; 
    }

    .menu-icon {
        display: block; 
    }

    nav ul {
        display: flex;
        justify-content: flex-end;

    }

    .menu-icon:hover + nav ul {
        display: flex; 
    }

    .web-desktop {
        width: 100%;
        padding: 0;
    }

    .container-2 {
        display: block;
        padding-left: 10px;
    }

    h1 {
        padding: 0;
        max-width: 375px;
        font-size: 40px;
   
    }

    .container {
        display: block;
    }
    
    .text-web-2 {
        padding-top: 0;
    }
    
    .box-2 {
        padding-right: 20px;
    }

    #read-more {
        margin-top: 3%; 
        padding-left: 35px;
        padding-right: 35px;
        margin-bottom: 10%;
    }

    .text-container {
        max-width: 3000px;
    }

    .container-box {
        display: block;
    }

    .box-3 {
        padding-bottom: 0;
        padding-top: 20px;
    }

    #section-2 {
        padding-bottom: 20%;
    }
}