@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
    background-color: #09468C;
    margin-top: 30px;
}

header {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-family: Montserrat;
    white-space: nowrap;
    color: white;
}

nav > ul > li:hover > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 3px;
    background-color: white;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #09468C;
    padding: 10px;
    width: max-content;
}

.submenu-item {
    margin-bottom: 5px;
    font-family: Montserrat;
    white-space: nowrap;
    padding: 10px;
    font-size: 13px;
}

nav ul li:hover .submenu {
    display: block;
}

.submenu-item:hover {
    background-color:#FFC400;
    transition: ease 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: right; 
    padding-right: 20px; 
}    

.logo {
    width: 700px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    justify-content: flex-end;
    margin-top: 8%;
    margin-right: 10%;
}

.icon-user {
    width: 64px;
    margin-right: 10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

table {
    background-color: #FFC400;
    width: 100%;
    height: 36vh;
    border-collapse: collapse;
    border-bottom-right-radius: 40px;
}

table td {
    padding: 10px;
}

.rectangle {
    background-color: #09468C;
    width: 50%;
    height: 22vh;
    border-left: 20px solid #FFC400;
}

.forma {
    height: 22vh; 
    width: auto; 
}

.table-text {
    padding-top: 20px;
    padding-left: 10%;
    display: flex;
    align-items: center;
}

.facebook {
    filter: blur(1px);
}

.facebook, .instagram, .browser {
    width: 30px; 
}

.facebook, .browser {
    border-radius: 8px;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    margin-left: auto;
    margin-right: 10%;
    white-space: nowrap; 
}

.anchietaLink {
    color: blue;
}

@media only screen and (max-width: 768px) {

    nav ul {
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        display: flex;
        font-size: 12px; 
        flex-wrap: wrap; 
    }
    
    nav ul li {
        margin: 5px; 
    }

    nav ul li {
        margin: 0 10px;
    }

    li {
        padding-top: 10px;
    }

    .submenu {
        position: static;
        display: none;
        width: auto;
        padding: 0;
    }

    .submenu-item {
        display: block;
        padding: 10px;
        font-size: 10px;
    }

    nav ul li:hover .submenu {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        padding-right: 20px;
    }
    
    .logo {
        width: 200px;
        margin-bottom: 20px; 
    }

    table {
        background-color: #FFC400;
        margin: auto; 
        border-collapse: collapse;
        border-bottom-right-radius: 10px; 
    }
    
    table td {
        padding: 3px;
        height: 80px;
    }
    
    .rectangle {
        background-color: #09468C;
        height: 20px; 
        border-left: 5px solid #FFC400; 
    }
    
    .forma {
        height: 15vh; 
        width: auto; 
    }
    
    
    .table-text {
        padding-top: 10px; 
        padding-left: 5%; 
        display: flex;
        align-items: center;
        position: relative; 
    }

    .text {
        font-size: 12px;
    }

    .facebook, .instagram, .browser {
        width: 20px; 
        margin-right: 5px;
    }
    
    .contact {
        font-size: 16px;
        position: absolute; 
        left: 100px;
        top: 470px;
    }   
    
    .divResp .forma {
        width: 60px; 
        height: 75px; 
    }
    
    .divResp .contact {
        font-size: 12px;
    }

    .divResp table {
        height: 60px;
    }

    footer {
        position: fixed; 
        bottom: 0; 
        width: 100%; 
        padding: 10px;
        text-align: center; 
        font-size: 14px; 
    }
}    