h1 {
	text-align: center;
}

h3 {
	font-size: 25;
}

body {
	font-family: arial;
}

.nome1 {
color: gray;
}

form {
	margin: auto;
	padding: 30px;
	max-width: 500px;
	border-radius: 5px;
	background-color: #f2f2f2;
	box-shadow: 3px 6px 20px -2px rgba(0,0,0,0.3);
}	


.enviar {
    font-size: 24px;
    color: white;
    border: none;
    background-color: #1E90FF;
    margin-top: 20px;
	padding: 20px;
}

input[type=email], input[type=password], input[type=submit]{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 3px 6px 20px -2px rgba(0,0,0,0.3);
}